<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
    
  <head>
        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- App CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">

    <!-- Website Title  -->
    <title>PPW Story 6 | Primo G U</title>

  </head>

  <body>

    <h1 class="main-title"><strong>HALO! APA KABAR?</strong></h1>

    <section name="input-list" id="input-list">
        <div class="container">
            <form id="form" method="POST" action="{% url 'homepage:add_status' %}">
                <h2><strong>Input Status</strong></h2>
                {% csrf_token %}
                {{ status_form|crispy }}
                <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            </form>
        </div>
    </section>

    <section name="my-list" id="my-list">
        <div class="container">
            <h2 class="my-list-title">My Status</h2>

                {% if status %}
                    {% for data in status %}
                    <div class="card bg-dark text-white">

                        <div class="card-header">
                            <div class="status-list-title">
                                {{data.title}}
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="status-list-date-added">
                                {{data.created_date}}
                            </div>
                            <hr>
                            <div class="status-list-description">
                                {{data.description}}
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="{% url 'homepage:del_status' data.id %}"
                            class="btn btn-danger btn-block" 
                            data-id="{{data.id}}"
                            role="button"><strong>Delete Status</strong></a>
                        </div>

                    </div>
                    <br>
                    {% endfor %}

                {% else %}          
                <div class="alert alert-danger text-center">
                    <strong>Oops!</strong> Tidak ada data status.
                </div>
                {% endif %}

            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

  </body>

</html>